kubectl
oc
oc_bash_completion
odo
openshift-install
pull-secret
README.md
install-config.yaml
install-config.yaml.backup
users.htpasswd
all.yml
htpasswd-cr.yml
.openshift*
terraform.*
*-key*
metadata.json
tls/
journal-gatewayd*
auth/
kubeadmin-password
kubeconfig
defaultProject.yaml
/elasticsearch-operator.yml
htpasswd-cr.yaml
/jaegar-operator.yml
/kiali-operator.yml
/servicemesh-operator.yml
