apiVersion: operators.coreos.com/v1alpha1
kind: InstallPlan
metadata:
  name: keycloak-operator
  namespace: user{{ item }}
spec:
  approval: Manual
  approved: true
  clusterServiceVersionNames: keycloak-operator.{{ keycloak_operator_version }}
#  name: keycloak-operator
  generation:
  source: community-operators
  sourceNamespace: openshift-marketplace
