# get installation files playbook variables
# Go to the following URL for a list of available OpenShift versions for installation
# https://mirror.openshift.com/pub/openshift-v4/clients/ocp/
openshift_version:                      4.4.8
openshift_installer_path:               "{{ ansible_env.PWD }}"
openshift_odo_version:                  1.2.1
openshift_odo_path:                     /usr/local/bin/

# openshift workshop user variables
openshift_cluster_admin_username:       labadmin
openshift_cluster_admin_password:       "CHANGE_ME#"
# usernames are sequentially generated as user1 through userXX based on openshift_user_count variable
openshift_user_count:                   50
openshift_user_password:                "CHANGE_ME"

# install-config.yml variables
openshift_cluster_name:                 CHANGE_ME
openshift_cluster_base_domain:          CHANGE_ME
openshift_cluster_fqdn:                 "{{ openshift_cluster_name }}.{{ openshift_cluster_base_domain }}"
openshift_control_node_instance_type:   m5a.xlarge     # default = m5a.xlarge
openshift_control_node_replicas:        3              # use value of '3' only
openshift_worker_node_instance_type:    m5a.xlarge	     # default = m5a.xlarge
openshift_worker_node_replicas:         3              # default = '3'  Node counts of =< 3 are valid

aws_region:                             CHANGE_ME
openshift_install_pull_secret:          " {{ lookup('file', '{{ openshift_installer_path }}/pull-secret') }}"
openshift_node_ssh_public_key:          "{{ lookup('file', '{{ openshift_installer_path }}/{{ openshift_cluster_name }}-key.pub') }}"

openshift_installer_log_level:          debug          # log level options: info, error, warn, debug

# Service Mesh variables
# Operator variables
# elasticsearch_operator_version:         "4.4"
# jaegar_operator_version:                stable
# kiali_operator_version:                 stable
# servicemesh_operator_version:           stable
# servicemesh_operators_namespace:        openshift-operators  # is this correct?  How is this related to the istio-system namespace
# keycloak_operator_version:              "10.0.0"
